# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://CineMatch:Sarutobi%4012@mongo-subh.zgzvv3z.mongodb.net/cinematch?retryWrites=true&w=majority&appName=Mongo-Subh

# JWT
JWT_SECRET=subhodeep12
JWT_EXPIRES_IN=7d

# TMDB API
TMDB_API_KEY=b9c236798b117d8861c621b332f1bb39
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
